// colors
$white: #ffffff;
$color-brown: #6a5243;
$black: #0e0e0d;
$grey: #929295;
$atoll: #0a5e6c;
$chalky: #f0caa1;
$sienna: #d68843;
$perfume: #bda2f3;
$daisy: #5b2ca2;
$green: #287a00;
$space: #282d2c;
$pearl: #e9dedc;
$millbrook: #694a3a;
$leather: #9f7651;
$mamba: #878589;
$driftwood: #b77c49;
$sandrift: #b2927b;
$atoll-dark: #086875;
$limed: #344747;
$tan: #d6b28d;